@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f5f3f3;
  color: #111111;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: #ffffff99;
  backdrop-filter: blur(16px);
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #ffffff99;
  backdrop-filter: blur(16px);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 100px 32px 0;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #ffffff99;
  backdrop-filter: blur(16px);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 4px 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #111111;
  border-bottom: 2px solid transparent;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #1c3966;
  border-bottom: 2px solid #1c3966;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 250px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 64px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 112px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home//hero_section\ \(3\).png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 287px;
  height: 239px;
}

.home-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  padding: 287px 0 24px;
}
.home__google-button_image {
  width: 343px;
  height: 80px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800x;
    padding: 114px 0px 0px;
    background-image: url("/img/home/hero_section\ \(2\).png");
  }

  .home-title {
    width: 420px;
    height: 342px;
  }

  .home-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    width: 440px;
    padding: 24px 0;
  }
}
.uniqueness {
  width: 375px;
  height: 783px;
  margin: auto;
  padding: 60px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game_atmosphere\ \(1\).png");
}

.uniqueness-text {
  padding-top: 24px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 622px;
    padding: 205px 264px 0 576px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url("/img/game_atmosphere\ \(2\).png");
  }
  .uniqueness-text {
    padding-top: 32px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.about {
  padding: 60px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1562px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/about_the_game.png");
}

.about-title {
  font-family: Chewy;
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.about-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #ffffff;
  padding: 24px 0px 0;
}
.about-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: center;
}
.why-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.why-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/frame\ \(1\).png");
  width: 290px;
  height: 290px;
  margin: auto;
  padding: 86px 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-item-two {
  background-image: url("/img/about/frame\ \(4\).png");
}
.why-item-three {
  background-image: url("/img/about/frame\ \(3\).png");
}
.why-item-four {
  background-image: url("/img/about/frame\ \(2\).png");
}
.why-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.why-text {
  padding-top: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 0px 0;
    width: 1440px;
    height: 1107px;
    background-image: url("/img/about/Frame\ 322\ \(1\).png");
  }
  .about-title {
    font-family: Chewy;
    font-weight: 400;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
  }

  .about-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 496px;
    padding: 32px 0px 0;
    margin: auto;
  }
  .about-text-bold {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .why-list {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
    width: 649px;
    margin: auto;
    margin-top: 64px;
  }
  .why-item {
    position: absolute;
    top: 0px;
    left: 169px;
    width: 312px;
    height: 312px;
    padding: 90px 64px;
  }
  .why-item-two {
    top: 172px;
    left: 0px;
  }
  .why-item-three {
    top: 334px;
    left: 169px;
  }
  .why-item-four {
    top: 172px;
    left: 337px;
  }
  .why-text-bold {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .why-text {
    padding-top: 8px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.how {
  width: 375px;
  height: 1842px;
  margin: auto;
  padding: 60px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/how_to_play.png");
}
.how-title {
  color: #111111;
}
.how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  margin: auto;
  width: 225px;
  height: 308px;
  border-radius: 12px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;

  background: #a52051;
}
.how-img {
  margin: auto;
}
.how-text-bold {
  padding: 24px 0 8px;

  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.how-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 674px;
    padding: 100px 108px 0;
    background-image: url("/img/how/how_to_play\ \(1\).png");
  }
  .how-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .how-item {
    margin: 0;
    width: 225px;
    height: 338px;
    border-radius: 12px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }
  .how-img {
    margin: auto;
  }
  .how-text-bold {
    padding: 24px 0 8px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .how-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.characters {
  padding: 60px 16px 0;
  margin: auto;
  width: 375px;
  height: 425px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Main_caracters.png");
}

.characters-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  padding-top: 24px;
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 159px 0px 0px;
    width: 1440px;
    height: 687px;
    background-image: url("/img/Frame\ 323.png");
  }
  .characters-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 137px 368px 0 680px;
  }
}
.reviews {
  width: 375px;
  height: 1380px;
  margin: auto;
  padding: 60px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Reviews.png");
}

.reviews-list {
  display: none;
}
.reviews-lists {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.reviews-item {
  width: 288px;

  gap: 8px;
  border-radius: 12px;
  padding: 24px;
  background: #ab0d54;
  color: #ffffff;
  margin: auto;
}
.reviews-img {
  margin: auto;
}
.reviews-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 8px;
}
.reviews-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 564px;
    padding: 100px 264px 0;
    background-image: url("/img/reviews/reviews_block.png");
  }
  .reviews-list {
    display: block;
    padding: 76px 0;
  }
  .reviews-lists {
    display: none;
  }
  .reviews-item {
    width: 288px;
    height: 228px;
    border-radius: 12px;
    padding: 24px;

    margin: 0 10px;
  }

  .reviews-text-bold {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 16px 0 8px;
  }
  .reviews-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .slick-prev:before {
    content: url("/img/reviews/Vector.png");
    display: flex;
    margin-left: -40px;
  }

  .slick-next:before {
    content: url("/img/reviews/Vector\ \(1\).png");
    display: flex;
    margin-left: 30px;
  }
}

.faq {
  padding: 60px 16px 10px;
  margin: auto;
  width: 375px;
  min-height: 666px;
  background-image: url("/img/faq/FAQ.png");
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 8px;
  background: #ab0d54;
  color: #ffffff;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 100px 420px 20px;
    width: 1440px;
    min-height: 792px;
    background-image: url("/img/faq/FAQ\ \(1\).png");
  }
  .faq-container {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-item {
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 8px;
  }

  .faq-question {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .faq-answer {
    display: none;
    padding-top: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.join {
  padding: 60px 16px 0px;
  margin: auto;
  width: 375px;
  height: 382px;
  background-image: url("/img/1.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-title {
  font-family: Chewy;
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}
.join-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 32px;
}
@media screen and (min-width: 1200px) {
  .join {
    padding: 100px 16px 0px;

    width: 1440px;
    height: 418px;
    background-image: url("/img/11.png");
  }
  .join-title {
    font-family: Chewy;
    font-weight: 400;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
  }
  .join-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 24px 0 40px;
  }
}
.gallery {
  width: 375px;
  height: 588px;
  margin: auto;
  padding: 60px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/Gallery\ \(2\).png");
}

.gallery__list {
  width: auto;
  padding-top: 40px;
  margin: auto;
}
.gallery__item {
  width: 216px;
  height: 382px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 1032px;
    padding: 100px 0 0;
    background-image: url("/img/gallery/Gallery\ \(3\).png");
  }

  .gallery__item {
    width: 392px;
    height: 696px;
  }

  .gallery__list {
    padding: 76px 0 0px;
  }
}
.features {
  width: 375px;
  height: 800px;
  margin: auto;
  background-image: url("/img/features/Game_features\ \(3\).png");
  padding: 60px 16px 0px;
}

.features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.features-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.features-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 676px;
    margin: auto;
    background-image: url("/img/features/Game_features\ \(2\).png");
    padding: 100px 212px 0px;
  }

  .features-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 128px;
    row-gap: 50px;
  }
  .features-item {
    display: flex;
    align-items: center;
    width: 392px;
    height: 80px;
    gap: 24px;
  }
  .features-item-two {
    margin-left: 50px;
  }
  .features-text-bold {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.footer {
  background: #222222;

  color: #ffffff;
  padding: 30px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 108px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    align-items: stretch;

    gap: 50px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 32px;
  }
  .footer-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
  }

  .footer-copyright {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 116px 16px 60px;
  background: #d7e2c8;
}
.policy-terms-title {
  text-transform: uppercase;
  font-family: Chewy;
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  padding-top: 20px;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 120px 212px 120px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-title {
    font-family: Chewy;
    font-weight: 400;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .policy-terms-texts {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    padding-top: 30px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .terms-lists {
    list-style-type: disc;
    padding-left: 25px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 16px;
  background: #d7e2c8;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(87, 78, 68, 1);
}
.cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  width: 343px;

  padding-top: 16px;

  padding-bottom: 16px;
  border-radius: 8px;

  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  background: #b04c4d;
}
.cookie-button:hover {
  background: #98310e;
}
#accept-cookies {
  background: #8daa3a;
}
#accept-cookies:hover {
  background: #6b802e;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 604px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 44px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
